<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.interlineOZDemo.dao.MemberMapper">
	
	<select id="getMember" parameterType="member" resultType="member">
		select * from userInform where userId = #{userId} and password = #{password}
	</select>
	
	<insert id="insertEstimateSheet" parameterType="estimateSheet">
		insert into estimateSheet (
			userNum,
			
			supplier,
			address,
			post,
			phoneNumber,
			representative,
			
			receiver,
			reportName,
			deadline,
			supplyPoint,
			payCondition,
			
			cautions,
			sum,
			sumWithTax,
			sumWithTax2,
			state
		) VALUES (			
			#{userNum}
			
			#{supplier},
			#{address},
			#{post},
			#{phoneNumber},
			#{representative},
			
			#{receiver},
			#{reportName},
			#{deadline},
			#{supplyPoint},
			#{payCondition},
			
			
			#{cautions},
			#{sum},
			#{sumWithTax},
			#{sumWithTax2},
			'e'
		)
		
		<selectKey keyProperty="reportNum" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	
	<insert id="insertEstimateItems" parameterType="java.util.List">
		insert into estimateItems (
			reportNum, itemName, imtemNum, amount, unit, unitPrice, price, note 
		) VALUES
		<foreach item="item" index="i" collection="list" separator=",">
			( #{item.reportNum}, #{item.itemName}, #{item.imtemNum}, #{item.amount}, #{item.unit}, #{item.unitPrice}, #{item.price}, #{item.note} )
		</foreach>
	</insert>
	
	<update id="updateMyProfile" parameterType="member">
		update userInform SET
		password=#{password},
		companyName=#{companyName},
		representative=#{representative},
		phoneNumber=#{phoneNumber},
		address=#{address},
		post=#{post},
		
		bankName=#{bankName},
		depositeClassification=#{depositeClassification},
		accountNumber=#{accountNumber},
		accountOwner=#{accountOwner},
		hurigana=#{hurigana}
		
		where userId=#{userId}
	</update>
</mapper>