<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="jp.co.interlineOZDemo.vo.UserInformVO" alias="member"/>
		<typeAlias type="jp.co.interlineOZDemo.vo.EstimateSheetVO" alias="estimateSheet"/>
		<typeAlias type="jp.co.interlineOZDemo.vo.EstimateItemsVO" alias="estimateItems"/>
		<typeAlias type="jp.co.interlineOZDemo.vo.ItemsVO" alias="Items"/>
		<typeAlias type="jp.co.interlineOZDemo.vo.BillInformVO" alias="billInform"/>
		
		<typeAlias type="jp.co.interlineOZDemo.vo.agreement.AgreementUserInformVO" alias="agreementUserInform"/>
		<typeAlias type="jp.co.interlineOZDemo.vo.agreement.AgreementAgreementVO" alias="agreementAgreement"/>
		<typeAlias type="jp.co.interlineOZDemo.vo.agreement.AgreementMemorandumVO" alias="agreementMemorandum"/>
		
	</typeAliases>
	<mappers>
		<mapper resource="MemberMapper.xml"/>
		<mapper resource="AdminMapper.xml"/>
		<mapper resource="Agreement/AgreementMemberMapper.xml"/>
	</mappers>
</configuration>